SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_BACKEND=sqlite
SQLITE_PATH=db.sqlite3

# Switch DATABASE_BACKEND to postgis in deployed environments.
POSTGRES_DB=aegismap
POSTGRES_USER=aegismap
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

TOKEN_PAGE_SIZE=20
USE_ASYNC_TASKS=False
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
